body {
  scroll-behavior: smooth;
  background-color: #121212;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  transition: background 0.3s;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.seccion {
  padding: 100px 0;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* IMG */
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
.card img {
  height: 220px;
  object-fit: cover;
}

/* button */
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.seccion:hover {
  transition: background-color 0.3s;
  background-color: #111111;
}

.capts {
  color: white;
  text-align: center;
}

/* Carrusel ocupa toda la pantalla */
#inicio {
  height: 100vh;
  overflow: hidden;
}

/* Cada slide (con efecto de fondo tipo parallax) */
.parallax-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Texto centrado y encima del carrusel */
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Oscurecer ligeramente fondo si deseas más contraste */
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}

footer a:hover {
  color: #0d6efd; /* Azul Bootstrap */
  text-decoration: underline;
}
