body {
  scroll-behavior: smooth;
  background-color: #121212;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  transition: background 0.3s;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.seccion {
  padding: 100px 0;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* IMG */
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
.card img {
  height: 220px;
  object-fit: cover;
}

/* button */
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.seccion:hover {
  transition: background-color 0.3s;
  background-color: #111111;
}
.parallax-section {
  background-image: url('../img/fondo1.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.capts {
  color: white;
  text-align: center;
}