body {
  scroll-behavior: smooth;
  background-color: #121212;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  transition: background 0.3s;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.portada {
  background: url('../img/portada.png') no-repeat center center/cover;
}

.portada-texto {
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  padding: 5px;
  border-radius: 10px;
}

.seccion {
  padding: 100px 0;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* IMG */
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
.card img {
  height: 220px;
  object-fit: cover;
}
